<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Panier</title>
    <link rel="stylesheet" href="css/main.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js" defer></script>
    <script type="text/javascript" src="js/main.js" defer></script>
</head>
<body>
    <h1 class="text-center">Ma commande</h1>
    
    <main id="app" class="container">
        <h2>Créer votre commande</h2>
        
        <div>{{ listProduct }}</div>
        <div>{{ productsList }}</div>
        <form>
            <fieldset>
                <legend>Produits</legend>
                
                <div class="form-group">
                    <label for="products">Choisissez un produit</label>
                    <select v-model="productsList" n id="products">
                        <option v-for="product in products" v-bind:value="product"> {{ product.name }} - {{ product.price }} </option>
                    </select>
                </div>
                <p> {{ selectedQuantity }}</p>
                <div class="form-group">
                    <label for="quantity">Quantité</label>
                    <input v-model="selectedQuantity" type="number" id="quantity" min="0">  
                </div>
                
                <button v-on:click.prevent="addProduct" class="button button-primary">Ajouter</button>
            </fieldset>
            <fieldset>
                <legend>Récapitulatif de la commande</legend>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Produit</th>
                            <th>Quantité</th>
                            <th>Prix unitaire</th>
                            <th>Prix total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="product in listProduct">
                            <td>{{ product.name }}</td>
                            <td> {{ product.selectedQuantity }}</td>
                            <td>{{ product.price }}</td>
                            <td>{{ Number(product.price * Number(product.selectedQuantity}}€</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="3">Prix total</th>
                            <th>10.50€</th>
                        </tr>
                    </tfoot>
                </table>
            </fieldset>
        </form>    
        
        
    </main>
</body>
</html>